#root {
  max-width: 100%;
  margin: 0;
  padding: 0;
  min-height: 100vh;
  min-height: calc(100vh + env(safe-area-inset-bottom));
  background-color: #f9fafb; /* gray-50 */
  transition: background-color 150ms ease-in-out;
}

body {
  margin: 0;
  padding: 0;
  background-color: #f9fafb; /* gray-50 - match root */
}
